@using System.Net.Http
@inject HttpClient Http

@page "/user/register"
@layout ActivityLayout
@inherits RegisterBase

<ActivityHeader Title="@ActivityTitle" />

<div class="activity_body">
    @*<img class="mx-auto d-block" src="assets/common/img/logo.svg" width="25%" alt="Alternate Text" />*@
    
    <div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="userBO.FirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="userBO.LastName" placeholder="Last Name">
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="userBO.Email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Age</label>
                <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" @bind="userBO.Age" placeholder="Enter age">
            </div>
            
            <hr />
            <label>New Weares?</label>
            <br />
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline1">Yes</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                <label class="custom-control-label" for="customRadioInline2">No</label>
            </div>
            <br />
            
            <a href="/staff/rate" class="btn btn-outline-dark btn-block py-3 rounded-pill mt-4 fadeInDown"><strong>Submit</strong></a>
        </form>
        <hr />
        <div class="py-2 mb-5 text-center">
            <a href="user/login">Already have an account?</a>
        </div>

    </div>

</div>

@code{
    public UserBO userBO { get; set; } = new UserBO();

    private async Task SendFormData()
    {
        await Http.SendJsonAsync(HttpMethod.Post, "/api/user/create", userBO);
    }
}
