@inherits ActivityLayoutBase

<CascadingValue Value="this">
    <ActivityMenu Title="@ActivityHeaderTitle" />

    <div class="main">
        <div class="content pb-4 pt-5 px-4 animate__animated animate__slideInRight" onscroll="App.Menu.CheckActivityHeader()">
            <div class="">
                @Body
            </div>
        </div>
    </div>

    @*<ActivityFooter />*@
</CascadingValue>

