@inherits LayoutComponentBase

<CascadingValue Value="this">

    <div class="sidebar d-none">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content h-100 py-0 px-4">
            @Body
        </div>
        <SheetContainer></SheetContainer>
        <ActivityFooter></ActivityFooter>
    </div>

</CascadingValue>

@code{
    public ActivitySheetProperty ActivitySheetProperty { get; set; } = new ActivitySheetProperty();

    public void InvokeSheetActivity(bool invokeAction)
    {

        ActivitySheetProperty.IsVisible = invokeAction;
        StateHasChanged();
    }
}

