@page "/StreamFlowPubSubTest"
@using XFramework.Integration.Interfaces.Wrappers
@using System.Diagnostics
@using System.Net
@using Microsoft.AspNetCore.SignalR.Client
@using StreamFlow.Domain.Generic.Contracts.Requests
@using StreamFlow.Domain.Generic.Enums
@using XFramework.Client.Test.UI.Shared.Models
@using XFramework.Integration.Interfaces

<h3><b>StreamFlow Pub / Sub Test</b></h3>

<button class="btn btn-success" @onclick="StartCanon">Start Canon</button>
<button class="btn btn-danger" @onclick="StopCanon">Stop Canon</button>
<br>
<br>
<div class="row">
    <div class="col-12">
        <h3>Sent / Received: @ReceivedTotal</h3>
        <h3>Latency: @($"{Latency}ms")</h3>
        <h3>RPS: @($"{Rps:n2}")</h3>
    </div>
</div>


@code {

    [Inject] public IMessageBusWrapper MessageBusWrapper { get; set; }
    [Inject] public ISignalRService SignalRService { get; set; }
    
    public Stopwatch Stopwatch { get; set; } = new();
    public Stopwatch MasterStopwatch { get; set; } = new();
    
    Guid Id = new("c18c0835-5553-4011-9ebf-8a7ca7021c31");
    int ReceivedTotal { get; set; }
    decimal Rps { get; set; }
    string Latency { get; set; }
    bool IsRunning { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await MessageBusWrapper.Connect();
            await StartListener();
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    async Task StartCanon()
    {
        MasterStopwatch.Restart();
        IsRunning = true;
        var prevSeconds = (int)MasterStopwatch.Elapsed.TotalSeconds;
        while (IsRunning)
        {
            Stopwatch.Restart();
        
            await MessageBusWrapper.SendAsync(new TestCanonModel() {Name = "ABC"}, Id);
            ReceivedTotal++;
            Stopwatch.Stop();
            Latency = Stopwatch.ElapsedMilliseconds.ToString();

            if (prevSeconds != (int)MasterStopwatch.Elapsed.TotalSeconds)
            {
                Rps = ReceivedTotal / (decimal)MasterStopwatch.Elapsed.TotalSeconds;
                prevSeconds = (int)MasterStopwatch.Elapsed.TotalSeconds;
                StateHasChanged();
            }
            
        }
    }

    async Task StopCanon()
    {
        IsRunning = false;
        MasterStopwatch.Stop();
    }

    async Task StartListener()
    {
        SignalRService.Connection.On("TestCanonModel", async (StreamFlowContract response) =>
        {
            var request = new StreamFlowMessageBO()
            {
                RequestGuid = response.Telemetry.RequestGuid,
                Recipient = response.Telemetry.ClientGuid,
                ExchangeType = MessageExchangeType.Direct,
                ResponseStatusCode = HttpStatusCode.Accepted
            };
            request.SetData(new TestCanonModel(){Name = "AAA"});
            request.CommandName = "InvokeResponseHandler";
        
            return await SignalRService.Connection.InvokeAsync<HttpStatusCode>("Push",request);
        });
    }
}