@using XFramework.Blazor.Entity.Constants
@using MudBlazor
@inherits XFramework.Blazor.Components.XLayoutBase

<MudThemeProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader Class="d-flex flex-column px-0">
            <MudText Typo="Typo.h6" Class="px-4">FLEXX</MudText>
            <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">The ultimate business platform</MudText>
        </MudDrawerHeader>
        <NavMenu/>
    </MudDrawer>
    <MudMainContent>
        <div class="px-5 pt-4 d-flex flex-column gap-4">
            <FHeader>
                <ButtonFragment>
                    <SectionOutlet SectionName="@LayoutConstants.HeaderButton"/>
                </ButtonFragment>
            </FHeader>
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}