<div class="card card-custom @BackgroundColor" data-card="true" id="kt_card_1">
    <div class="card-header">
        <div class="card-title">
            <span class="card-icon">
                <i class="@Icon"></i>
            </span>
            <h3 class="card-label">
                @Title
                <small>@SubTitle</small>
            </h3>
        </div>
        <div class="card-toolbar">
            @Toolbar
        </div>
    </div>
    <div data-scroll="true" class="card-body">@Body</div>
    <div class="card-footer d-flex justify-content-between">
        @Footer
    </div>
</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string SubTitle { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }

    [Parameter]
    public RenderFragment Footer { get; set; }

    [Parameter]
    public RenderFragment Toolbar { get; set; }

    [Parameter]
    public string BackgroundColor { get; set; }

    [Parameter]
    public string Icon { get; set; }
    [Parameter]
    public RenderFragment Dropdown { get; set; }
}