@inherits LayoutComponentBase
<div class="d-flex flex-row flex-column-fluid page">
    <div class="d-flex flex-column flex-row-fluid wrapper">
        <DashboardHeader></DashboardHeader>
        <div class="row">
            <div class="col" style="padding: 50px;padding-top: 100px;width:100vw">
                @Body
            </div>
        </div>
        <div class="content d-flex flex-column flex-column-fluid"></div>
        <ProfileFooter/>
    </div>
</div>

@code {

}