@page "/landing"

@layout MainLayout

<div class="row h-100">
   <div class="col-sm-12 my-auto">
     <div class="animated fadeIn text-center">
         <img class="mx-auto d-block fadeInUp" src="assets/client/img/cv-logo.png" width="328" alt="Alternate Text" />
         <CardButton Title="Campaign Access" Slug="Scan Qr Code" Link="/user/scan" />
       </div>
   </div>
   
</div>
