@page "/Client/Session/SignUp"
@inherits SignUpBase
@layout SessionLayout
<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="animate__animated animate__zoomIn d-inline-block col-2  d-md-none d-sm-block">
            <img src="https://retailer.loadmanna.ph/assets/common/img/app_logo.png" width="64px" alt="Loading" class="mx-auto">
        </div>
    
        <div class="d-inline-block col-10">
            <h3 class="animate__animated animate__faster animate__fadeInUp">Create your @AppName account</h3>
            <p class="animate__animated animate__faster animate__fadeInUp" style="animation-delay: 0.5s;">to continue to @AppLink</p>
        </div>
    </div>
    <EditForm class="form-signin" Model="SignUpVm" OnValidSubmit="() => SessionService.SignUp(SignUpVm)">
        <div class="form-label-group">
            <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
            <label for="inputUserame">Username</label>
        </div>
    
        <div class="form-label-group">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
            <label for="inputEmail">Email address</label>
        </div>
    
        <hr>
    
        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>
    
        <div class="form-label-group">
            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
            <label for="inputConfirmPassword">Confirm password</label>
        </div>
    
        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
        <p class="text-center mt-3">Already have an account? <a href="/Client/Session/SignIn">Sign In</a> instead</p>
        @*<hr class="my-4">
        <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
        <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button>*@
    </EditForm>
</div>


@code {
    public string AppName { get; set; } = "LoadManna";
    public string AppLink { get; set; } = "MannaMall";
}