@inherits LayoutComponentBase

    <link href="assets/admin/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/css/style.bundle.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/css/pages/login/login-3.css" rel="stylesheet" type="text/css">


    <link href="assets/admin/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css">
    <link href="assets/admin/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css">

    <div id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
       <!--begin::Main-->
        @Body
       <!--end::Main-->
    </div>

