@page "/Session/SignUp"
@inherits SignUpBase

<EditForm Model="SessionState.RegisterVm" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudTextField Label="First name" HelperText="Max. 8 characters"
                  @bind-Value="SessionState.RegisterVm.FirstName" For="@(() => SessionState.RegisterVm.FirstName)"/>
    <MudTextField Label="Email" Class="mt-3"
                  @bind-Value="SessionState.RegisterVm.EmailAddress" For="@(() => SessionState.RegisterVm.EmailAddress)"/>
    <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                  @bind-Value="SessionState.RegisterVm.Password" For="@(() => SessionState.RegisterVm.Password)" InputType="InputType.Password"/>
    <MudTextField Label="Password" HelperText="Repeat the password" Class="mt-3"
                  @bind-Value="SessionState.RegisterVm.PasswordConfirmation" For="@(() => SessionState.RegisterVm.PasswordConfirmation)" InputType="InputType.Password"/>

    <MudCardActions>
        <div class="rounded-sm mt-5 mx-auto">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" Size="Size.Large">Sign In</MudButton>
        </div>
    </MudCardActions>
    <div class="my-5 mx-auto">
        Already have an account? <a href="/Session/SignIn" class="btn-outline-primary">Login Instead</a>
    </div>
</EditForm>
