# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.XFramework.PaymentGateways.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\XFramework\XFramework\XFramework.Subsystems\XFramework.PaymentGateways\.idea\.idea.XFramework.PaymentGateways\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
