
@page "/Shop/Home"
@layout ActivityLayout
@inherits HomeBase

<ActivityHeader Title="@ActivityTitle" />

<div class="activity_body">
        
    <div style="height:100vh">
        <Search></Search>
    </div>

</div>
