@page "/user/startup"
@layout MainLayout
@inherits StartupBase

<div class="row h-100" style="">
   <div class="col-sm-12 my-auto">
     <div class="text-center">
          <img class="mx-auto d-block animate__animated animate__fadeIn " src="assets/common/img/logo.svg" width="228" alt="Alternate Text" @onclick="@(() => ToggleSheetActivity(true))" />
         
          <div class="mt-5 animate__animated animate__fadeInDown ">
               @*Onclick="@(() => ToggleSheetActivity(true))"*@
             <CardButton Icon="fas fa-user" Title="Log In with Email" Slug="Existing user" Link="/user/login"  />
             <CardButton Icon="fas fa-star" Title="Create New Account" Slug="Create New Account" Link="/user/register" />
              
          </div>
       </div>
   </div>
</div>
