@inherits LayoutComponentBase


<div class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex align-content-center align-items-center py-2 w-50">
          <img src="https://retailer.loadmanna.ph/assets/common/img/app_logo.png" alt="" class="mx-auto animate__animated animate__fadeInRight animate__faster" width="128px">
        </div>
        <div class="card-body w-75">
          @Body
        </div>
      </div>
    </div>
  </div>
</div>

