<MudGrid Class="vh-100 w-100 m-0" Style="background-color: #673AB7">
    <MudItem xs="12" sm="7" lg="4" md="7" Style="max-width: 700px;" Class="align-center text-center mx-auto d-block mt-5">
        <MudCard Class="py-5 px-5 shadow-lg mt-10">
            <div class="mt-5">
                <h1>
                    Welcome Back!
                </h1>
            </div>
            <MudCardContent>
                @Body
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>