<div class="shadow-sm p-3 mb-5 bg-white rounded d-inline-block mx-2" style="min-width: 100px">
    <img src="@AvatarImage" alt="@Name" class="avatar mb-2 mx-auto d-block">
    <h6 class="mb-1 text-center">@Name</h6>
</div>


@code {
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string AvatarImage { get; set; }
}