<form class="d-flex input-group w-auto border-1 search-component">
    <i class="fas fa-search pt-2 pl-2"></i>
    <input type="text"
           class="form-control pl-3 border-0"
           placeholder="Type query"
           aria-label="Search" style="border:none" />
    <button class="border-0 px-3" type="button" data-ripple-color="dark">
        <i class="fas fa-search"></i>
    </button>
</form>

@code {

}
