@inherits LayoutComponentBase

<div class="card rounded h-100 animate__animated animate__slideInUp">

    <div class="py-3">
        <h3 class="accent-color1">@SheetHeaderTitle</h3>
        <p class="accent-color1">@SheetMotoText</p>
        <h4 style="position:absolute; top:15px; right:15px; color:#8f8f8f" @onclick="@(() => ToggleSheetActivity(false))">Cancel</h4>


    </div>

</div>


@code {

    [CascadingParameter]
    public MainLayout CMainLayout { get; set; }

    [Parameter]
    public string SheetHeaderTitle { get; set; }
    [Parameter]
    public string SheetMotoText { get; set; }
    [Parameter]
    public bool IsClosable { get; set; }


    public void ToggleSheetActivity(bool value)
    {
        CMainLayout.InvokeSheetActivity(value);
    }
}
