# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.XFramework.StreamFlow.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\Net Core\XFramework\XFramework\XFramework.Subsystems\.idea\.idea.XFramework.StreamFlow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# GitHub Copilot persisted chat sessions
/copilot/chatSessions
