@page "/"

<h1>Hello, @FirstName @LastName!</h1>

Welcome to your new app. 2


<form action="">
    <label for="">Firstname</label>
    <input type="text" placeholder="Enter First Name" @bind="FirstName" @bind:event="oninput">
    
    <label for="">Lastname</label>
    <input type="text" placeholder="Enter Last Name" @bind="LastName" @bind:event="oninput">
    
</form>

@code
{
    public string FirstName { get; set; }
    public string LastName { get; set; }
}
