@page "/Test3"
<h3>Test3</h3>
<hr>

<h1>Traffic light shit</h1>
<table cellpadding="100">
    <tr>
        <td>
            <select @bind="TrafficLightStatus">
                @foreach (var i in asdas)
                {
                    <option value="Red">Red</option>
                }

            </select>
        </td>
        
        <td>
        <h1> The car should: @TrafficAction()</h1>
        </td>
    </tr>
</table>

@code {
    public string TrafficLightStatus { get; set; }


    private string TrafficAction()
    {

        if (TrafficLightStatus == "Red")
        {
            return "Beat the red light mofo";
        }
        if (TrafficLightStatus == "Yellow")
        {
            return "Still go anyway, di pa red lol";
        }
        if (TrafficLightStatus == "Green")
        {
            return "Sige iharurot mo hahahahaha";
        }
        return "";
    }

}