@page "/Test1"
@using System.Text.Json
@using XFramework.Web.Models

<h1> Hello @PersonCallOut.FirstName @PersonCallOut.LastName</h1>


<br>
<div>
    <label>First name:</label>
    <input type="text" @bind="PersonCallOut.FirstName" @bind:event="oninput">
    <br>
    <label>Last name:</label>
    <input type="text" @bind="PersonCallOut.LastName" @bind:event="oninput">

    <br>
    <br><br>
    <button @onclick="AddPerson">Add more work. Try me.</button>
    <button @onclick="GetJson">Get JSON</button>
    <hr/>
    
    <table border="1" cellpadding="10" cellspacing="10">
        <thead>
            <td>
                First Name
            </td>
            
            <td>
                Last Name
            </td>
        </thead>

        @foreach (PersonCallOut personCallOut in PersonCallOuts)
        {
            <tr>
                <td>@personCallOut.FirstName</td>
                <td>@personCallOut.LastName</td>
            </tr>   
        }
    </table>
    
    
</div>

@code
{
    public PersonCallOut PersonCallOut { get; set; } = new PersonCallOut();

    public List<PersonCallOut> PersonCallOuts { get; set; } = new List<PersonCallOut>();

    public void AddPerson()
    {
     PersonCallOuts.Add(new PersonCallOut()
     {
         FirstName = PersonCallOut.FirstName,
         LastName = PersonCallOut.LastName
     });   
    }

    public void GetJson()
    {
        Console.WriteLine(JsonSerializer.Serialize(PersonCallOuts));
    }
    
    
}
