@page "/TestPage"
<h3>TestPage</h3>
<BasicCard Icon="flaticon2-chat-1 text-primary" Title="asdfsdf" SubTitle="sadf">
    <Toolbar>
        <a href="#" class="btn btn-sm btn-success font-weight-bold">
            <i class="flaticon2-cube"></i>Reports
        </a>
        <a class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="Toggle Card">
            <i class="ki ki-arrow-down icon-nm"></i>
        </a>
        <CardDropdown></CardDropdown>
    </Toolbar>
    <Body>
    
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
    
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
    </Body>

</BasicCard>
<DropdownExampleCard></DropdownExampleCard>
<ScrollableContentCard></ScrollableContentCard>
<SemiBorderedStyleCard></SemiBorderedStyleCard>
<SuccessBackgroundColorCard></SuccessBackgroundColorCard>

@code {

}