<MudDialog>
    <DialogContent>
    <div class="text-center">
    <h2>Update</h2>
</div>
        <form>
            <div>
                <div class="py-3">
                    <span>First Name</span>
                    <input type="text" class="form-control">
                </div>
                <div class="pb-3">
                    <span>Last Name</span>
                    <input type="text" class="form-control">
                </div>
                <div class="pb-3">
                    <span>Address</span>
                    <input type="text" class="form-control">
                </div>
                <div class="pb-3">
                    <span>Birthday</span>
                    <input type="date" class="form-control">
                </div>
                
            </div>

        </form>
       
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>


@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    void Submit() => MudDialog.Close(DialogResult.Ok(true));
    void Cancel() => MudDialog.Cancel();
}